* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.ustBar {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #0c9797;
}
.ustBarIci {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo {
  height: 100%;
  display: table;
  float: left;
}
.logo h1 {
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
}
.menuBtn {
  float: right;
  height: 100%;
}
.menuBtn a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}

.menuBtn a li {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 16px;
  color: #ffffff;
}
.altBarAlan {
  max-width: 1170px;
  margin: auto;
}
.satir {
  display: flex;
  flex-wrap: wrap;
}

.altBar {
  background-color: #0c9797;
  padding: 120px 0;
}
.altBarSutun {
  width: 33%;
  padding: 0 30px;
}
.altBarSutun h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.altBarSutun h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.altBarSutun ul li:not(:last-child) {
  margin-bottom: 10px;
}
.altBarSutun ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.altBarSutun ul li a:hover {
  color: black;
  padding-left: 8px;
}
.altBarSutun .sosyalMedya a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.altBarSutun .sosyalMedya a:hover {
  color: #0c9797;
  background-color: #ffffff;
}
