
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
.ustBar {
  width: 100%;
  height: 80px;
  display: block;
  background-color: #ffffff;
}
.ustBarIci {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.logo {
  height: 100%;
  display: table;
  float: left;
}
.logo h1 {
  color: rgb(21, 21, 21);
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 900 !important;
}
.logo a{
  color: rgb(21, 21, 21);

}
.menuBtn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding: 30px;
}


.menuBtn li a {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  font-size: 16px;
  color: #242424;
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px;
}
.altBarAlan {
  max-width: 1170px;
  margin: auto;
}
.satir {
  display: flex;
  flex-wrap: wrap;
}

.altBar {
  background-color: #1c1d1f;
  padding: 120px 0;
}
.altBarSutun {
  width: 33%;
  padding: 0 30px;
}
.altBarSutun h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.altBarSutun h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.altBarSutun ul li:not(:last-child) {
  margin-bottom: 10px;
}
.altBarSutun ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.altBarSutun ul li a:hover {
  color: black;
  padding-left: 8px;
}
.altBarSutun .sosyalMedya a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.altBarSutun .sosyalMedya a:hover {
  color: #0c9797;
  background-color: #ffffff;
}

.account-menu img{
  width:50px;
  height: 50px;
  border-radius:50%;
 
}

.account-menu{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 45%;
}

.main{
  padding: 0px 20px;
  

  
}

.main-content{
    display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background-color: #71d8ba;
    padding: 0px 20px ;
}

.artist img{
  width: 50%;
  padding: 0px;
  position: sticky;

}
.artist {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  position: relative;

}

 .artist .kare{
  background-color: #90e9d0;
  width: 300px;
  height: 250px;
  position: absolute;
  right: 17%;
  bottom: 0;
 
}

.main-content .card{
  background-color: #ffffff;
  width:400px;
  padding: 30px;
}

.main-content .card .card-title{
  margin-bottom:30px;
  font-family: none;
  font-weight: 900;
  font-size: 2.2rem;


}

/* content */
.main .content{
  margin: 20px 0px;
  display: flex;
    /* justify-content: center; */
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}
/* slider */
 .sliders-body{
  display: flex;
  /* justify-content: center; */
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  
}
.sliders-body .title{
  display: flex;
  /* justify-content: center; */
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

 .sliders-body .slider{
  width:300px;
  background-color:#ffffff;
  margin-left: 10px;
  border: 0.5px solid #eee;
}
 .sliders-body .slider .slider-img img{
width: 100%;
}


.sliders-body .slider .slider-body{
  margin-top:10px;
  padding: 0px 10px; 
}
 .title{
  font-size:24px;
  font-weight: bold;

}
  .info{
  display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin: 5px 0px;
}
 .info.teacher{
  font-size:16px;
  font-weight:400;
  color:rgb(90, 90, 90);

}
.info .rating {
  font-size:16px;
  font-weight:400;
  color:rgb(111, 111, 111);
  margin-left: 10px;

}

.pice{
  display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 5px;
}


.pice .pice-old{
  margin-left: 10px;
  font-size: 14px;
  color:rgb(90, 90, 90);
  text-decoration:line-through;
}

 .sliders-body .slider .slider-footer{
  margin: 20px 0px;
  padding: 0px 10px; 
}
.sliders-body .slider .slider-footer a{
  color:#ffffff;
  background-color: #8710d8;
  padding: 10px;
  border-radius: 2px;
}
.sliders-body .slider .slider-footer a:hover{
  background-color: #7b0ec4;
}

.sliders-head h1 {
  font-family: none;
  font-size: 32px;
}
.sliders-head {
  padding: 20px 10px; 
}
/* slider end */

/* bells */
.main .content .bells{
  padding: 0px 50px;
  min-height: 330px;
  width: 100%;
}
.main .content .bells .bells-head {
  padding: 10px 10px;
  padding-top: 0px;
}

.main .content .bells-head h1 {
  font-family: none;
  font-size: 32px;
  padding: 0px;

}
.main .content .bells .bells-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction:column;
  overflow-y: scroll;
  height:300px;
}
.main .content .bells .bell {
  margin: 5px 0px;

}
.main .content .bells .bell .bell-head{
  margin: 20px 0px; 
  
}
.main .content .bells .bell .bell-footer hr{
  margin-top: 30px; 
  height: 0.5px;
  width: 80%;
  opacity: 0.3;
  
}
/* bells end*/


.btn-sale {
  color:#ffffff;
  background-color: #8710d8;
  padding: 10px;
  border-radius: 2px;
}
.btn-sale:hover{
  background-color: #7b0ec4;
}


/*about*/

.about{
  padding: 0px 5%;
}

.about .artist{
  color:#0c9797;
  width: 100%;
}

.artist-left {
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  position: relative;

}

.artist-left img{
  width: 50%;
  padding: 0px;
  position: sticky;

}


 .artist-left .kare{
  background-color: #90e9d0;
  width: 300px;
  height: 250px;
  position: absolute;
  left: 15%;
  bottom: 0;
 
}

.about .content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}

.about .content .content-body {
  max-width: 300px;
  width: 300px;
  font-family: none;  
  padding:30px;
  border: 1px solid #eee;
}


.slider-section {
  margin: 50px 20px;
}

.sliders-arrows{
  width: 100%;
   
    position: absolute;
    top: 50%;
}
.sliders-arrows a i{
  font-size:20px;
  color:rgb(255, 255, 255);
  background-color:#1c1d1f;
  border-radius:50%;
  padding: 11px 15px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.083);

} 

.sliders{
  position: relative;
}
.after-arrow{
  float: right;
  
}

.menu-bells{
  position: absolute;
  top: 80px;
  background-color: #fff;
  z-index: 1;
  right: 0;
  display: none;
}

.menu-bells{
  padding: 0px 20px;
  min-height: 330px;
  max-width: 400px;

}
.menu-bells .bells-head {
  padding: 10px 10px;
  padding-top: 0px;
}

 .menu-bells-head h1 {
  font-family: none;
  font-size: 32px;
  padding: 0px;

}
 .menu-bells .bells-body {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction:column;
  overflow-y: scroll;
  height:300px;
}
.menu-bells .bells-body::-webkit-scrollbar {
  width: 12px;
}

.menu-bells .bells-body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.menu-bells .bells-body::-webkit-scrollbar-thumb {
  border-radius: 10px;
background-color: #7b0ec4;
}


 .menu-bells .bell {
 
  padding: 10px 30px;
}
 .menu-bells .bell .bell-head{
  margin: 20px 0px; 
  
}
 .menu-bells .bell .bell-footer hr{
  margin-top: 30px; 
  height: 0.5px;
  width: 80%;
  opacity: 0.3;
  
}

.bell-list:hover a,.bell-list:active a,.bell-list:focus a{
  color: #7b0ec4;
}

.kategoriler{
  position: absolute;
  top: 12%;
  background-color: #fff;
  left: 39%;
  padding: 10px;
  z-index: 1;
  display: none;
}

.kategoriler li a{
  padding: 8px 5px;
}

.menuBtn li a:hover{
  color: #7b0ec4;
}

.profile,.exit{
  display: none;
}

.bell-list{
  display: none;
}

#ders,#course-info{
  padding: 10%;
}
#ders {
  background-color:rgba(238, 238, 238, 0.35);
}
.ders{
  display: flex;
}

.ders-img img{
  width: 100%;
  border-radius: 20px;
}

.ders-body{
  background-color:white;
  height: 10%;
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.076);
}

.ders-footer a{
  padding: 10px;
  background-color: rgb(206, 150, 150);
  font-size:12px;
 
  color:white;
  

}

.ders-footer{
  margin: 10px 0px;
}

.ders-body .title{
  margin: 10px 0px;
}
.ders-body .info{
  margin: 10px 0px;
} 


.accrodions-body{
  display: none;
}

#accrodion-1{
  display: block;
}

.accrodions-head{
  cursor: pointer;
  padding: 10px;
  background-color:#f7f9fa;
  border: 0.5px solid rgba(0, 0, 0, 0.275);
}

.course-content{
  margin-top: 20px;
}

.accrodions-body{
  border-left: 0.5px solid rgba(0, 0, 0, 0.275);
  border-right: 0.5px solid rgba(0, 0, 0, 0.275);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.275);
  padding: 10px;
}

.accrodions-body .course-head{
  padding:5px 10px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.accrodions-body .course-time{
  float: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: rgb(143, 143, 143);
}
.accrodions-body .course-title{
  width: 100%;
  
}
.accrodions-body .course-title i{
  margin-right: 10px;
  font-size:13px;
  
}
.accrodions-body .course-title a{
  color:#1c1d1f;
  font-weight:400;
}
#iletisimMain{
  height: 60vh;
  padding: 100px;
  background: linear-gradient(120deg, #2980b9, #8e44ad);
  overflow: hidden;
  color: #ffffff;
}
.iletisimAdres{
  width: 50%;
  float: right;
  text-align: center;
  
}
.iletisimForm{
  width: 50%;
  float: left;
  text-align: center;
  
  border-radius: 10px;
}
.form-group input{
  width: 40%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  background: none;
  outline: none;
  border-color: white;
}
.form-group textarea{
  width: 40%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  background: none;
  outline: none;
  border-color: white;
}
#iletisimMain input[type="submit"] {
  width: 30%;
  height: 40px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.iletisimAdres .sosyalMedya a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.iletisimAdres .sosyalMedya a:hover {
  color: #0c9797;
  background-color: #ffffff;
}